{if !$loggedin}
    <div id="old-auth">
        <headerLogin>
            <h1 style="font-weight: normal;
font-size: 19px;
color: #999;
text-align: center;"> به پنل مدیریت خوش آمدید ! </h1> 
        </headerLogin>
        <form id="oldlogin" method="post">ورود به پنل مدیریت
            <div class="lbl-input">
                <label for="username">نام کاربری</label>
                <input name="username" placeholder="نام کاربری" name="u_given" type="text">
            </div>
            <div class="lbl-input">
                <label for="password">کلمه عبور</label>
                <input name="password" placeholder="کلمه عبور" type="password">
            </div>
            <input name="p_given" type="hidden">
            <div id="msg" style="display: none;"></div>
            <button id="login" class="btn" type="submit">برو!<span class="waiting">...</span>
            </button> <a href="old-pgc168.html?forget" onclick='switchForm("#oldlogin", "#forget"); return false;'>کلمه عبورتان را فراموش کرده اید؟</a> 
        </form>
        <form id="forget" method="POST" action="" style="display: none;">بازیابی کلمه عبور سرویس قدیم
            <div class="lbl-input">
                <label for="rst-name">نام کاربری</label>
                <input id="rst-name" placeholder="نام کاربری" name="n_" type="text">
            </div>
            <div class="lbl-input">
                <label for="rst-email">آدرس ایمیل</label>
                <input id="rst-email" placeholder="آدرس ایمیل" name="m_" type="text">
            </div>
            <div id="msg" style="display: none;"></div>
            <button type="submit" id="signup" class="btn block" disabled>بازیابی کلمه عبور / این قابلیت در سیستم موجود نیست<span class="waiting">لطفاً صبر کنید...</span>
            </button> <a href="javascript:;" onclick='switchForm("#forget", "#oldlogin");'>انصراف</a> 
        </form>
        <div id="pls-wait">لطفاً منتظر بمانید...</div>
    </div>
    <script type="text/javascript">
    jQuery(document).ready(function() {
        var t1, t2;
        if (location.search == "?msg===QP9EEZxkjMYtmVyolb5ckY") t1 = "خیر پیش! برای ورود مجدد لاگین کنید.";
        if (location.search == "?msg==UHbyglb5ckY") t1 = "برای ورود لاگین کنید.";
        if (location.search == "?msg==0DNXFGakdVW") t2 = "نام کاربری یا رمز عبور نادرست است.";
        if (location.search == "?msg=rZ1RaVnVHNmeWNzY") t2 = "این اکانت مسدود شده است.";
        if (t1 || t2) jQuery("#msg").text(t1 || t2).slideDown();
        if (t2) jQuery("#msg").addClass("error");
    });

    function hidePass(input) {
        input.val(Math.pow(10, input.val().length) - 1);
    }

    function switchForm(from, to) {
        jQuery(from).fadeOut('fast', function() {
            jQuery(from).children("#msg").hide();
            jQuery('.error').removeAttr('class');
            jQuery(to).fadeIn();
        });
    }
    jQuery('form').on('submit', function(e) {
        var err = false;
        jQuery(this).find('input[type!=hidden]').each(function() {
            if (jQuery(this).val() == "") {
                var errorText = jQuery(this).parent().find('label').text();
                var msgBox = jQuery(this).parent().parent().find('#msg');
                jQuery("input.error").removeClass('error');
                msgBox.slideUp('fast', function() {
                    msgBox.text('لطفاً ' + errorText + ' را وارد کنید.').addClass('error').slideDown();
                });
                jQuery(this).addClass('error').focus();
                err = true;
                return !err;
            }
        });
        if (err) {
            e.preventDefault();
        } else if (jQuery(this)[0].id == "oldlogin") {
            var tmp = jQuery("#password1");
            jQuery('#oldlogin input[type="hidden"]').val(calcMD5('NewNew!!!FreeWebsite!!! Free Web!!!' + tmp.val()));
            hidePass(tmp);
        }
    });
    jQuery(window).load(function() {
        if (location.search == "?forget") {
            jQuery("#pls-wait").fadeOut('medium', function() {
                jQuery('body').removeClass('loading');
                jQuery("#old-auth").animate({
                    'height': '370'
                }, 800, function() {
                    jQuery("#forget").fadeIn();
                });
            });
        } else {
            jQuery("#pls-wait").fadeOut('medium', function() {
                jQuery('body').removeClass('loading');
                jQuery("#old-auth").animate({
                    'height': '370'
                }, 800, function() {
                    jQuery("#oldlogin").fadeIn();
                });
            });
        }
    });
</script>
{/if}