<div class="content">
	<h2>{$smarty.const.EDIT|htmlentities:3:'UTF-8'} {$user->username|htmlentities:3:'UTF-8'}</h2>
	
	<form id="form" method="POST">
	<table>
		<tr>
			<td style="width: 140px;">			
				{$smarty.const.USER_NAME|htmlentities:3:'UTF-8'}:
			</td>
			<td>
				<input type="text" id="username" dir="ltr" name="username" value="{if isset($user)}{$user->username|htmlentities:3:'UTF-8'}{/if}" class="required" disabled style="direction: ltr;text-align: left;">
			</td>
		</tr>
		<tr>
			<td>			
				{$smarty.const.EMAIL|htmlentities:3:'UTF-8'}:
			</td>
			<td>
				<input type="text" id="email" dir="ltr" name="email" value="{if isset($user)}{$user->email|htmlentities:3:'UTF-8'}{/if}" style="direction: ltr;text-align: left;" class="required email">
			</td>
		</tr>
		
		<tr>
			<td>			
				{$smarty.const.PASSWORD|htmlentities:3:'UTF-8'}:
			</td>
			<td>
				<input type="password" id="password" dir="ltr" name="password" style="direction: ltr;text-align: left;" value="">
			</td>
		</tr>
		<tr>
			<td>			
				{$smarty.const.PASSWORD|htmlentities:3:'UTF-8'} ({$smarty.const.AGAIN|htmlentities:3:'UTF-8'}):
			</td>
			<td>
				<input type="password" id="password2" dir="ltr" name="password2" style="direction: ltr;text-align: left;" value="">
			</td>
		</tr>
		<tr>
			<td>			
				{$smarty.const.ROLE|htmlentities:3:'UTF-8'}:
			</td>
			<td>
				<select name="permission" class="required" style="width: 155px;"{if !$User->isAdmin() || $User->id == $user->id} disabled{/if}>
					<option value="0"{if isset($user) && $user->permission == 0} selected{/if}>{$smarty.const.GUEST|htmlentities:3:'UTF-8'}</option>
					<option value="1"{if isset($user) && $user->permission == 1} selected{/if}>{$smarty.const.EDITOR|htmlentities:3:'UTF-8'}</option>
					<option value="2"{if isset($user) && $user->permission == 2} selected{/if}>{$smarty.const.ADMIN|htmlentities:3:'UTF-8'}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>&nbsp;			
				
			</td>
			<td>
				<input type="submit" name="submit" value="{$smarty.const.SAVE|htmlentities:3:'UTF-8'}" class="button">
			</td>
		</tr>
		{if isset($username_error)}
		<tr>
			<td colspan="2" class="error">			
				{$username_error|htmlentities:3:'UTF-8'}
			</td>
		</tr>
		{/if}
	</table>
	</form>
	
	<script>
		$(document).ready(function() {
			$.validator.messages["required"] = "{$smarty.const.VALIDATOR_REQUIRED|htmlentities:3:'UTF-8'}";
			$.validator.messages["email"] = "{$smarty.const.VALIDATOR_EMAIL|htmlentities:3:'UTF-8'}";
			$.validator.messages["equalTo"] = "{$smarty.const.VALIDATOR_EQUAL_TO}";
			$("#form").validate({
				rules: {
					password2: {
			    		equalTo: "#password"
					}
				}
			});
		});
		$("#email").focus();
	</script>
</div>