{section name=m loop=$movies}
<a href="./?go=movie&id={$movies[m]->id}">
	<div id="movie_{$movies[m]->id}" class="movie_box{if ($smarty.section.m.index + 1) % 4 == 0} last{/if}">
    {if $movies[m]->dubbed && strlen($movies[m]->dubbed) == 1}<div class="dubbed">دوبله فارسی</div>{/if}
		<div class="movie_cover">
			{if $movies[m]->hasPhoto()}<img src="{$movies[m]->photo()}" alt="{$movies[m]->name|htmlentities:3:'UTF-8'}" title="{$movies[m]->name|htmlentities:3:'UTF-8'}" />
			{elseif $movies[m]->hasCover()}<img src="{$movies[m]->cover()}" alt="{$movies[m]->name|htmlentities:3:'UTF-8'}" title="{$movies[m]->name|htmlentities:3:'UTF-8'}" />
			{else}<div class="nocover" alt="{$movies[m]->name|htmlentities:3:'UTF-8'}" title="{$movies[m]->name|htmlentities:3:'UTF-8'}">{$smarty.const.NO_COVER|htmlentities:3:'UTF-8'}</div>{/if}
		</div>
		<div class="title">
        <div style="direction: ltr; text-align:right; float:right;">{$movies[m]->name|htmlentities:3:'UTF-8'} ({$movies[m]->year|htmlentities:3:'UTF-8'})</div>
        </a>
        {if $movies[m]->sebodi && strlen($movies[m]->sebodi) == 1}<div style="float:left">
        <a href="http://www.imdb.com/title/tt{$movies[m]->imdbid}/" target="_blank"><img style="max-height: 40px;" src="{$tpl_include}images/3d-blu-ray.png" alt="{$smarty.const.VISIT_IMDB|htmlentities:3:'UTF-8'}" title="{$smarty.const.VISIT_IMDB|htmlentities:3:'UTF-8'}"></a>
        </div>{/if}
        <br />
			<div class="genre">
				{if $movies[m]->genres && strlen($movies[m]->genres) > 0}
				{assign var=genres value=$movies[m]->getList('genres')}
				{section name=g loop=$genres}
					{if !$smarty.section.g.first}|{/if}
					{$genres[g]|htmlentities:3:'UTF-8'}
				{/section}
				{/if}
			</div>
			
			<div class="duration">
				مدت زمان : {if $movies[m]->duration && $movies[m]->duration != 0}{$movies[m]->duration|htmlentities:3:'UTF-8'} {$smarty.const.MINUTES|htmlentities:3:'UTF-8'}{/if}
			</div>
			
			<div class="rating">
				{if $movies[m]->rating && $movies[m]->rating != 0}
				<span class="header">{$smarty.const.RATING|htmlentities:3:'UTF-8'}:</span> 
				{$movies[m]->rating|htmlentities:3:'UTF-8'}
				{/if}
                | <a href="http://www.imdb.com/title/tt{$movies[m]->imdbid}/" target="_blank"> لینک IMDB </a>
			</div>
            
			<div class="plotoutline">
				{if $movies[m]->plotoutline && strlen($movies[m]->plotoutline) > 0}
				<h3 style="margin-bottom: 4px;font-size: 12px;padding-bottom: 4px">{$smarty.const.PLOT_OUTLINE|htmlentities:3:'UTF-8'}</h3>
				{assign var=plotoutline value=$movies[m]->getList('plotoutline')}
				{section name=p loop=$plotoutline}
					<div>{$plotoutline[p]|htmlentities:3:'UTF-8'|truncate:300:"...":true}</div>
				{/section}
				{/if}
			</div>
            
			<div class="country">
				{if $movies[m]->country && strlen($movies[m]->country) > 0}
				<span class="header">{$smarty.const.COUNTRY|htmlentities:3:'UTF-8'}:</span>
				{assign var=country value=$movies[m]->getList('country')}
				{section name=c loop=$country}
					{if !$smarty.section.c.first}|{/if}
					{$country[c]|htmlentities:3:'UTF-8'}
				{/section}
				{/if}
			</div>
			
			<div class="director">
				{if $movies[m]->director && strlen($movies[m]->director) > 0}
				<span class="header">{$smarty.const.DIRECTOR|htmlentities:3:'UTF-8'}:</span>
				{assign var=director value=$movies[m]->getList('director')}
				{section name=d loop=$director}
					{if !$smarty.section.d.first}|{/if}
					{$director[d]|htmlentities:3:'UTF-8'}
				{/section}
				{/if}
			</div>
			
			<div class="writer">
				{if $movies[m]->writer && strlen($movies[m]->writer) > 0}
				<span class="header">{$smarty.const.WRITER|htmlentities:3:'UTF-8'}:</span>
				{assign var=writer value=$movies[m]->getList('writer')}
                    {section name=w loop=$writer}
					{if !$smarty.section.w.first}|{/if}
					{$writer[w]|htmlentities:3:'UTF-8'}
				    {/section}
				{/if}
			</div>
			
			<div class="producer" style="">
				{if $movies[m]->producer && strlen($movies[m]->producer) > 0}
				<span class="header">{$smarty.const.PRODUCER|htmlentities:3:'UTF-8'}:</span>
				{assign var=producer value=$movies[m]->getList('producer')}
				{section name=p loop=$producer}
					{if !$smarty.section.p.first}|{/if}
					{$producer[p]|htmlentities:3:'UTF-8'}
				{/section}
				{/if}
			</div>
        </div>
	</div>
{sectionelse}
<div class="content">{$smarty.const.NO_RESULTS_FOUND|htmlentities:3:'UTF-8'}</div>
{/section}

{include file="movies/pager.html"}

<div style="clear: both;"></div>