/**
 * Site layout
 */
@font-face{font-family:yekano;src:url(../fonts/yekan.woff) format('woff')}
html, body {
	background: #fff url('../images/body.png') no-repeat center top fixed;;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-family: yekano,tahoma;
	font-size: 1em;
	color: #2f2f2f;
	height: 100%;
	direction:rtl;
	text-align:right;
	line-height: 20px;
}

/**
 * Default styles
 */
a {
	color: #555555;
	text-decoration: none;
	font-size: 12px;
}

a:hover {
	color: #333333;
	text-decoration: none;
}

img {
	border: 0px;
}

input[type="text"], input[type="password"] {
	width: 500px;
}

select {
	width: 506px;
}

input, select {
	font-size: 12px;
}

input[type="text"], input[type="password"],
input[type="checkbox"],
select {
	border-radius: 2px 2px 2px 2px;
	width: 250px;
	box-sizing: border-box;
	padding: 5px 10px;
	border: 1px solid #aaa;
	text-align: right;
	font-family: yekano,tahoma;
	font-size: 1em;
}

select {
	padding: 0px;
}

input[type="text"]:hover, input[type="password"]:hover,
input[type="checkbox"]:hover,
select:hover {
	border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
}

input[type="submit"] {
    background-color: #1e99e1;
    width: 150px;
    padding: 5px 0;
    color: #fff;
    margin: 10px auto;
    font-family: yekano,tahoma;
	font-size: 1em;
	border:1px #1e99e1 solid;
}

input[type="submit"]:hover {
    background-color: #4cb3f0;
}

button[type="submit"] {
    background-color: #1e99e1;
    width: 150px;
    padding: 5px 0;
    color: #fff;
    margin: 10px auto;
    font-family: yekano,tahoma;
	font-size: 1em;
	border:1px #1e99e1 solid;
}

button[type="submit"]:hover {
    background-color: #4cb3f0;
}

textarea {
	font-family: yekano,tahoma;
	font-size: 11px;
	border: 1px solid #dedede;
	border-radius: 2px 2px 2px 2px;
	padding: 2px;
	width: 500px;
	height: 150px;
}

textarea:hover {
	border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
}

table {
	font-size: 12px;
	border-collapse: collapse;
	width: 100%;
}

table thead {
	font-weight: normal;
}

table td {
	vertical-align: top;
	padding: 2px;
}

table.hover tbody tr:hover {
	background-color: #e2e2e2;
}

form {
	padding: 0px;
	margin: 0px;
}

hr {
	background-color: #cecece;
	color: #cecece;
	height: 1px;
	border: 1px solid #cecece;
}

h1 {
	color: black;
	font-size: 26px;
}

h2 {
	margin: 0px;
	margin-bottom: 10px;
	font-size: 15px;
	padding-bottom: 10px;
	font-weight: normal;
	border-bottom: 1px #ccc dashed;
}

h3 {
	margin: 0px;
	margin-bottom: 10px;
	font-size: 15px;
	padding-bottom: 10px;
	font-weight: normal;
	border-bottom: 1px #ccc dashed;
}

label {
	cursor: pointer;
}

.hide {
	display: none;
}

.right {
	float: right;
}

.left {
	float: left;
}

img:hover {
	-webkit-filter: contrast(120%);
}

/**
 * Input validation
 */
input.error, textarea.error {
	border: 1px solid #CE0071;
}

label.error {
	background: url(../images/icons/16x16/error.png) right;
	background-repeat: no-repeat;
	padding-right: 20px;
	min-height: 20px;
	color: #CE0071;
	margin-right: 5px;
	cursor: auto;
}

.error {
	color: #CE0071;
}

/**
 * Site structure
 */
#container {
	position: relative;
	height: auto;
	min-height: 100%;
}

#wrapper {
	padding-bottom: 50px;
}

header {
	clear: both;
	height: 105px;
	width: 1000px;
    margin: 0 auto;
	border-bottom: 1px rgba(46, 46, 46, 0.3) solid;
}

header h1 {
	width: 1000px;
	margin: 0 auto;
	padding: 0px;
	line-height: 35px;
    padding-top: 15px;
	text-align: right;
	color: rgb(153, 153, 153);
	font-weight: normal;
	margin-right: 100px;
}

header .center {
	width: 1000px;
	margin: 0 auto;
	background-image: url(../images/logo.png);
	background-position: right top;
	background-repeat: no-repeat;
	height: 100px;
}

header .languages {
	float: left;
	margin-top: 5px;
	height: 25px;
	font-size: 15px;
	padding-top: 5px;
}

header .languages ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

header .languages li {
	float: left;
	margin-left: 8px;
	text-align: center;
}

header .languages a {
	color: #999999;
}

header .languages a:hover {
	color: #000;
	text-decoration: none;
}

header .languages li.selected a {
	color: #000;
	text-decoration: none;
}

header nav {
	clear: both;
	float: left;
	height: 43px;
	line-height: 40px;
	background-color: rgba(190, 190, 190, 0.61);
	border-radius: 5px 5px 0px 0px;
    margin-top: 27px;
	padding-left: 10px;
	padding-right: 10px;
}

header a {
	color: white;
	text-decoration: none;
}

header a:hover {
	color: white;
	text-decoration: none;
}

header nav a {
	color: rgba(58, 38, 38, 0.72);
	font-size: 13px;
}

header nav a:hover {
	color: #000;
	text-decoration: none;
}

header nav li.selected a {
	color: #000;
	text-decoration: none;
}

header nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

header nav li {
	float: right;
	height: 40px;
	margin-right: 8px;
	margin-left: 8px;
	text-align: center;
}

section {
	width: 1000px;
	margin: 0 auto;
	clear: both;
	color: #666666;
	margin-bottom: 20px;
}

section nav {
	height: 75px;
	background-color: rgba(190, 190, 190, 0.61);
    border-radius: 0px 0px 5px 5px;
}

section nav ul {
	list-style: none;
	margin: 0px;
	padding: 10px;
}

section nav li {
	float: right;
	height: 40px;
	margin-right: 10px;
	text-align: center;
}

nav .button {
	width: 70px;
	text-align: center;
	font-size: 10px;
	line-height: normal;
}

section .content {
	clear: both;
	margin-top: 20px;
	background-color: #f2f2f2;
	border-radius: 5px;
	border: 1px solid #B8B8B8;
	padding: 20px;
}

footer {
	position: absolute;
  	bottom: 0px;
	clear: both;
	text-align: center;
	font-size: 10px;
	width: 100%;
	line-height: 50px;
	background-color: #E9E9E9;
	margin-top: 20px;
	border-top: 1px #B8B8B8 solid;
}

footer a {
	color: #999999;
	text-decoration: none;
	font-size: 15px;
}

footer a:hover {
	color: #333;
	text-decoration: none;
}

/**
 * Search
 */
#search {
	float: left;
	margin-top: 21px;
	margin-left: 15px;
}

#search #q {
	width: 250px;
	border: 0px;
	border-radius: 15px;
	height: 30px;
	padding-left: 10px;
	padding-right: 40px;
	background-image: url(../images/icons/32x32/magnifier.png);
	background-position: center right;
	background-repeat: no-repeat;
	font-size: 14px;
}

#search #q.inputDefault {
	color: gray;
	font-style: italic;
	font-family: yekano,tahoma;
}

#search #category {
	float: left;
	width: 150px;
}

#search #sort {
	float: left;
	width: 150px;
}

#search #n {
	float: left;
	width: 150px;
	margin-right: 0px;
}

/**
 * Sort
 */
section .sort {
	clear: both;
	margin-top: 10px;
	height: 20px;
}

section .sort .ui-selectmenu {
	float: right;
	margin-left: 10px;
	font-size: 12px;
}

/**
 * Results
 */
#loading {
	display: none;
	text-align: center;
	background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 100px;
	width: 220px;
	height: 19px;
}

#results {
	display: none;
	clear: both;
	margin-top: 20px;
}

#results .movie_box {
	width: 640px;
	height: 305px;
	padding: 10px;
	background-color: #E3E3E3;
	border: 1px solid #B8B8B8;
	cursor: text;
	float: right;
}

div.movie_box:first {
    border-radius: 5px 5px 0px 0px;
}

div.movie_box:nth-last-of-type {
    border-radius: 0px 0px 5px 5px;
}

#results .last {
	margin-right: 0px;
}

#results .movie_cover {
	height: 304px;
    max-width: 206px;
    float: right;
}

#results .movie_cover > img {
	height: 304px;
	width:206px;
	overflow: hidden;
	-webkit-box-shadow: inset 0px 0px 60px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 60px 2px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 60px 2px rgba(0,0,0,0.75);
}

#results .movie_cover .nocover {
	width: 206px;
	height: 300px;
	overflow: hidden;
	border: 1px solid rgba(206, 115, 115, 0.13);
	background-color: rgba(230, 202, 202, 0.5);
	text-align: center;
	line-height: 300px;
	font-size: 18px;
}

#results .title {
	padding: 5px;
	margin-right: 220px;
	font-size: 12px;
	text-align:justify;
}

#results .pager {
	clear: both;
	margin-top: 20px;
	text-align: center;
}

#results .pager a, #results .pager .current {
	border-radius: 3px;
	border: 1px solid #cccccc;
	background-color: white;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 7px;
	padding-right: 7px;
}

#results .pager .space {
}

/**
 * Buttons
 */
nav.topmenu {
	width: 100%;
	margin-bottom: 10px;
}

nav.topmenu:after {
	clear: both;
	content: ".";
	display: block;
	height: 0; 
	visibility: hidden;
}

nav.topmenu ul {
	padding: 0;
    margin: 0;
    list-style: none;
}

nav.topmenu ul li {
	float: left;
}

nav.topmenu ul .button {
	width: 90px;
	text-align: center;
	font-size: 10px;
	line-height: normal;
}

/**
 * Combobox
 */
.combobox_button {
    background-image: url(../images/icons/16x16/bullet_arrow_down.png);
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}

.combobox_button:hover {
    text-decoration: none;
}

.combobox_selector {
    background-color: #EEE;
    z-index: 1000;
}

.combobox_selector ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border:1px solid #CCC;
}

.combobox_selector li {
    padding: 2px 5px;
}

.combobox_selector li:hover,
.combobox_selector li.selected {
    background-color: #0066CC;
    color: #FFF;
}

/**
 * Specific sections
 */
#login {
	width: 300px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

#login input[type="text"], #login input[type="password"] {
	width: 170px;
}

#message {
	position: fixed;
	font-size: 11px;	
	text-align: center;
	background-color: #CE0071;
	color: white;
	padding: 10px;
	width: 800px;
	bottom: 0px;
    left: 50%;
    margin-left: -400px;
	border-radius: 5px 5px 0px 0px;
	box-shadow: 0px 1px 3px #555555;
	overflow: hidden;
	display: none;
}

/**
 * IMDb search for movies
 */
#imdbsearchform {
	margin-bottom: 20px;
}

.imdbmovies .imdbresult:hover {
	cursor: pointer;
}

.imdbmovies .imdbresult .known {
	text-decoration: line-through;
}

.imdbmovies .imdbresult .imdb {
	width: 40px;
	white-space: nowrap;
}

.imdbmovies .imdbresult .title {
	font-weight: bold;
}

.imdbmovies .imdbresult .year {
	width: 40px;
	white-space: nowrap;
	text-align: right;
}

/**
 * Movie information
 */
#movie {
	clear: both;
}

#movie .header {
	font-weight: normal;
}

#movie .photo {
	float: right;
	max-width: 200px;
}

#movie .photo img {
	max-width: 200px;
	border-radius: 3px;
	box-shadow: 0px 1px 5px black;
}

#movie .maininfo {
	margin-right: 220px;
	line-height: 30px;
    font-size: 14px;
}

#movie .loaned {
	color: #CE0071;
}

#movie .taglines {
	margin-top: 10px;
	font-style: italic;
	text-align: center;
}

#movie .plotoutline {
	margin-top: 10px;
}

#movie .castlist ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#movie .castlist .first.column {
	padding-right: 20px;
}

#movie .castlist .column {
	padding-right: 20px;
}

#movie .castlist .last.column {
	padding: 0px;
}

#movie .plots {
	margin-top: 10px;
}

#movie .plots li {
	margin-bottom: 10px;
}

/**
 * Add/edit movie
 */
.addmovie .photo {
	float: right;
	margin-right: 5px;
}

.addmovie .photo img {
	max-width: 220px;
	border-radius: 3px;
	box-shadow: 0px 1px 5px black;
}

/**
 * Message
 */
.message {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: black;
	opacity: 0.8;
	color: white;
}

.message .text {
	margin: 0 auto;
	margin-top: 300px;
	text-align: center;
	width: 400px;
}

/**
 * Automatic update
 */
.autoupdate {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: black;
	opacity: 0.8;
	color: white;
}

.autoupdate .text {
	margin: 0 auto;
	margin-top: 300px;
	text-align: center;
	/*width: 400px;*/
}

.autoupdate .text a {
	color: white;
}

.autoupdate .text a:hover {
	color: #555555;
}

.home_right {
	width:660px;
	float:right;
}

.home_left {
	width:325px;
	float:left;
	margin-top: 11px;
}

.side-box {
	overflow: auto;
	background: #e3e3e3;
	border: 1px solid #b8b8b8;
	padding: 4px;
	margin-bottom: 10px;
	padding-bottom: 7px;
}

.side-box h2 {
	background: #626262;
	color: white;
	font-size: 12px;
	padding: 5px;
	text-shadow: 0 1px 0 #373434;
	margin-bottom: 0px;
}

#dub-ex {
	color: #444;
	margin-top: 100px;
	font-size: 14px;
    text-align: justify;
    line-height: 10px;
}

#dub-ex img {
	float: right;
	height: 45px;
	width: 45px;
}

#dub-posters img {
	width: 61px;
	height: 90px;
	margin-right: 2px;
	float: right;
}

#dub-ex a {
	display: block;
	padding: 10px 0px 10px 0px;
	border: 1px dashed #444;
	text-align: center;
	margin: auto;
	color: #444;
}

#dub-ex a:hover {
	text-decoration: none;
	background: #CCC;
}

.notes {
	text-align: justify;
}

    .center {
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        zoom: 1
    }
    .center:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden
    }
    body.old-pg #pls-wait {
        display: none;
        position: absolute;
        height: 35px;
        right: 0;
        left: 0;
        top: 120px;
        bottom: 0;
        margin: auto;
        color: #046fad
    }
    body.old-pg.loading #pls-wait {
        display: block
    }
    body.old-pg header {
        position: relative
    }
    body.old-pg header #logo {
        float: none;
        margin: 0 auto
    }
    #old-auth {
        position: absolute;
        width: 240px;
        height: 85px;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto
    }
    #old-auth a {
        color: #135c96
    }
    #old-auth a:hover {
        color: #333
    }
    #old-auth form {
        text-align: center;
        margin-top: 20px;
        display: none
    }
    #old-auth form #msg {
        font-size: 13px;
        text-align: right;
        padding: 0 11px
    }
    #old-auth form #msg.error {
        color: #e94a3c
    }
    #old-auth form label {
        text-align: right;
        display: none
    }
    #old-auth form input {
        width: 100%;
        margin: 10px auto;
        box-sizing: border-box;
        padding: 5px 10px;
        border: 1px solid #aaa;
        text-align: left
    }
    #old-auth form input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #fff inset
    }
    #old-auth form input::-webkit-input-placeholder {
        text-align: right
    }
    #old-auth form input:-moz-placeholder {
        text-align: right
    }
    #old-auth form input::-moz-placeholder {
        text-align: right
    }
    #old-auth form input::-ms-input-placeholder {
        text-align: right
    }
    #old-auth form input:focus {
        border-color: #1e99e1
    }
    #old-auth form input.error {
        border-color: #e94a3c
    }
    #old-auth form button {
        background-color: #1e99e1;
        width: 100%;
        padding: 5px 0;
        color: #fff;
        margin: 10px auto
    }
    #old-auth form button:focus,
    #old-auth form button:hover {
        background-color: #4cb3f0
    }
    #old-auth form button:focus:active,
    #old-auth form button:hover:active {
        background-color: #1188ce;
        -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, .5)inset;
        -khtml-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, .5)inset;
        -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, .5)inset;
        -o-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, .5)inset;
        box-shadow: 0 2px 3px -1px rgba(0, 0, 0, .5)inset
    }
    #old-auth form button .waiting {
        display: none
    }
    html.lt-ie9 form label {
        display: block!important
    }
	
#results .pager a {
	position: relative;
	float: right;
	padding: 6px 12px;
	margin-right: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

#results .pager .current:hover {
	background-color: #eee;
}

.dubbed {
	float: left;
	position: absolute;
	margin-right: 561px;
	margin-top: 285px;
	background-color: rgba(0, 0, 0, 0.27);
	border-radius: 0px 5px 0px 0px;
	padding: 5px;
	color: #333;
	font-size: 16px;
}